*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    background-color: whitesmoke;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a {
    text-decoration: none;
    color: whitesmoke;
    width: bold;
    margin-right: auto;
    transition: 1s;

    a:hover {
    color: rgb(8, 34, 75);

    }
    a:visited {
        color: whitesmoke;
        transition: 1s;    
    }
    
}

.page-container{
  display: grid;  
  grid-template-rows: 60px 100px 1fr 50px;
  min-height: 100vh;
  gap: 10px;
  padding: 20px;
}

h1, h3, h4 {
    text-align: center;
    padding: 5px 10px;   
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(232, 176, 92);
    align-items: center;
    padding: 5px 5px;  
    gap: 10px;    
    height: auto; 
    width: 100%;   
  }
      
header img {
    width: 60px;
    height: 100%;
    border-radius: 50%;
    transition: transform 1s;
    }
  
    header img:hover {
    transform: scale(1.5); /* La imagen se agrandará a 1.5 veces su tamaño original */
    }

nav {
    display: flex;
    justify-content: space-around;
    width: 30%;
    align-items: center;
    font-size: 24px;
    padding: -20px -20px;
    gap: 5px;
    
    a:hover {
        color: rgb(8, 34, 75);
        transition: 1s;
    }
          
}

.slogan {
    background-color: aliceblue;  
    padding: 10px;
    text-align: center;  
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: aliceblue;
}

.card {
   background-color: aliceblue;
   border-radius: 15px; 
   width: 90%;
   display: flex;
   flex-direction: column;   
   box-shadow: 5px 5px 20px gray;
   padding: 5px;
   margin: 10px;
   transition: all 0.3s ease-in-out;
   align-content: center;
   
    
}
.card img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.card button {
    background-color: rgb(232, 176, 92);
    color: white;
    padding: 12px;
    border-radius: 10px;
    border: none;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.card-text {
    padding: 5px;
    text-align: center;
    justify-content: flex-start;
}

.conf-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 20px;
    /*border: 1px dotted black;*/
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    background-color: aliceblue;
}
.conf-container iframe {
    display: grid;
    /*border: 1px dotted black;*/
    grid-template-columns: 2fr 2fr;
    border-radius: 10px;
    align-content: center;
    box-shadow: 5px 5px 20px gray;
    width: 90%;
    justify-content: center;
}
.conf-container h3, p {
    width: 90%;
    text-align: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color:aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.sidebar h2 {
    color: rgb(232, 176, 92);
    width: bold;
    margin: 10px;
}
.sidebar img {
    width: 80%;
    border-radius: 10%;
}
.sidebar p {
    padding: 10px;
    margin: 10px;
}
#libro {
    width: 60%;
    box-shadow: 5px 5px 20px gray;
    border-radius: 1px;
}

.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.social-links a {
    font-size: 2em;
    color: rgb(232, 176, 92);    
}

.social-links a:hover {
    color: rgb(8, 34, 75);
}

.container-fluid a {
    color: rgb(222, 153, 51);
    width: bold;
}

.container-fluid a:hover {
    color: rgb(8, 34, 75);
}

.contacto { 
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;    
    background-image: url("./media/telecomunicaciones\,\ .png");  
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
}

label {
    display: block;   
    margin-top: 10px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {   
    max-width: 100%;
    max-height: 200px; /* Ajusta la altura según lo necesites */
    width: 100%;   
    height: auto;
    resize: none; /* Esto impide que el usuario redimensione la textarea */
    overflow: auto; /* Agrega desplazamiento si el contenido supera la altura */
    }

#form-message {
    margin-top: 10px;
    color: green;
    font-weight: bold;
}

.boton-submit {
    background-color: rgb(232, 176, 92);
    color: white;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    width: 50%;
    cursor: pointer;
}

.social-links-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.social-links-contact a {
    font-size: 1.5em;
    color: white;    
}
.social-links-contact a:hover {
    color: rgb(8, 34, 75);
}

.accordion img {
    border-radius: 25px;
    float: left;
    margin-right: 20px; 
    margin-bottom: 10px;
    width: 30%;
}

.clipping-app {
    display: flex;
    flex-direction: column;         
    border: 1px dotted black;
}
#formularioNoticias {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }
  
  #formularioNoticias input,
  #formularioNoticias select {
    border-radius: 8px;
    border: solid 1px grey;
    padding: 8px 16px;
    margin-top: 10px;
  }
  
  #formularioNoticias button {
    width: 100%;
    background-color: rgb(53, 50, 50);
    border: none;
    color: white;
    padding: 8px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
  }
  
/*for noticias cards*/  
  .noticias-container {
    display: flex;   
    flex-direction: column;   
    align-items: center;
    justify-content: space-between;
    padding: 10px;    
    background-color: rgb(232, 176, 92);
    height: 50px;
  }
  
  .item-category {
    font-size: 12px;
    align-self: flex-end;
  }

  #btnSubir {
    background-color: rgb(53, 50, 50);
    color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 100px;
    right: 80px;    
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #btnSubir:hover {
    background-color: #595a5c;
  }
  
footer {
    background-color: rgb(232, 176, 92);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;  
    
}

footer a {
    color: white;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    body{
        flex-wrap: wrap;        
    }
    main{
        grid-template-columns: 1fr;
       } 
    .card-container{
        grid-template-columns: 2fr; 
    }      
    .conf-container {
        grid-template-columns: 2fr;      
    }
    .conf-container iframe{
        grid-template-columns: 2fr;       
    }       
    }
    .social-links-contact {
        grid-template-columns: 1fr;
    }
    .page-container{
        flex-wrap: wrap;
    }
    .form-container {
        display: flex;
    }

    .contacto { 
        display: flex;
    }


@media (min-width: 577px) and (max-width: 900px) or (orientation: landscape) {
    body{
        flex-wrap: wrap;
    }
    main{
        grid-template-rows: 1fr 1fr;
       } 
    .card-container{
        grid-template-columns: 1fr 1fr;
       }    

    .conf-container {
        grid-template-columns: 2fr 2fr; 
        grid-template-rows: 2fr 2fr;     
    }
    .conf-container iframe{
        grid-template-columns: 2fr;       
        }   

    .social-links-contact {
        grid-template-columns: 1fr 1fr;
    }         
    }
    .page-container{
        flex-wrap: wrap;
    }
    .form-container {
        display: flex;
    }
   
    .contacto { 
        display: flex;
    }


@media (min-width: 901px) and (max-width: 1200px) or (orientation: landscape) {
    body{
        flex-wrap: wrap;
    }
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
       } 
    .card-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
       }      
    .conf-container iframe{
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 2fr 2fr 2fr;
    }
    .social-links-contact {
        grid-template-columns: 1fr 1fr 1fr;
    }    
}